.footer__links {
  display: grid;
  grid-template-columns: repeat(5, auto);
  column-gap: 18px;
}

@media screen and (max-width: 690px) {
  .footer__links {
    grid-template-columns: auto;
    grid-template-rows: repeat(5, auto);
    row-gap: 32px;
    margin-bottom: 48px;
  }
}
