.lead__subtitle {
  color: #ffffff;
  font-family: "Inter", "Arial", sans-serif;
  font-weight: 400;
  align-self: center;
  text-align: center;
  font-size: 30px;
  line-height: 36px;
  margin-top: 32px;
  margin-bottom: 0;
}

.lead__subtitle:last-of-type {
  margin-top: 0;
}

@media screen and (max-width: 320px) {
  .lead__subtitle {
    font-size: 16px;
    line-height: 20px;
    margin-top: 16px;
  }
}
