.lead__subtitle {
  color: #ffffff;
  font-family: "Inter", "Arial", sans-serif;
  font-weight: 400;
  align-self: center;
  text-align: center;
  font-size: 30px;
  line-height: 36px;
  margin-top: 32px;
  margin-bottom: 0;
  width: 640px;
}

@media screen and (max-width: 641px) {
  .lead__subtitle {
    width: 440px;
  }
}

@media screen and (max-width: 445px) {
  .lead__subtitle {
    width: 288px;
  }
}

@media screen and (max-width: 320px) {
  .lead__subtitle {
    font-size: 16px;
    line-height: 20px;
    margin-top: 16px;
  }
}
