.cover__title {
  font-family: "Inter", "Arial", sans-serif;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  text-align: center;
  align-self: center;
  color: #ffffff;
  margin-top: 245px;
  margin-bottom: 0;
  position: relative;
  max-width: 560px;
}

@media screen and (max-width: 1024px) {
  .cover__title {
    margin-top: 195px;
  }
}

@media screen and (max-width: 768px) {
  .cover__title {
    margin-top: 115px;
    font-size: 48px;
    line-height: 48px;
    max-width: 360px;
  }
}

@media screen and (max-width: 560px) {
  .cover__title {
    font-size: 30px;
    line-height: 30px;
    max-width: 220px;
  }
}

@media screen and (max-width: 320px) {
  .cover__title {
    margin-top: 33px;
    margin-left: 16px;
    margin-right: 16px;
    font-size: 32px;
    line-height: 35px;
    max-width: 228px;
  }
}
