.header__lang-links {
  list-style-type: none;
  display: grid;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  column-gap: 18px;
}
